body.secure {
	background: #F7F8FE;
	font-size: 17px;
}


body.secure ul.greenmark li {
	font-size: 17px;
	font-weight: 800;
}

body.secure .cardimg {
    /*width: 40px;*/
	height: 36px;
}

body.secure #cvchint {
    background: none repeat scroll 0 0 white;
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 7px #5A5A5A;
    color: gray;
    display: block;
    font-size: 11px;
    height: 110px;
    left: 50px;
    padding: 10px;
    position: absolute;
    top: -30px;
    width: 330px;
}

body.secure #cvchint img {float: left}

body.secure .cvchinthidden {
    left: -100000px !important;
}


.img_gr {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}


body.secure.ddwm not(.blue2bg) h6 {
	font-size: 22px;
	color: #305DFC;
} 



.orange_btn {
	background: #F05A28;
	color: white;
	font-weight: 800;
	font-size: 26px;
	padding-left: 36px;
}

.blue-box {
	color: white;
	background: #2D42F5;
	border-radius: 10px;
	padding: 10px 20px;
}

.proxi.secure span.checkbox {
	position: relative;
	display:flex;
	border: 3px solid #F02828;
	border-radius: 70px/60px;
	padding-right: 10px;
	width:40px;
	height:40px;
	margin-left: -25px;
	margin-top: -10px;
	padding-left:35px;
	padding-top:5px;
}

.proxi.secure span.checkbox:before {
	content: url(/images/ArrowRightRedSmall.gif);
	position: absolute;
	left: -80px;
	top:0;
}